<html ng-app ng-init="valor1 = 15; valor2 = 10; pessoa = {nome: 'Moira Queen'}">
    <head>
        <title>Aula 04 - Curso AngularJS</title>
        <script src="js/angular/angular.min.js" ></script>
    </head>
    <body>
        
        <!--Podemos Criar nossas TAGs-->
        <h1>Resultado: <texto ng-bind="valor1+valor2"></texto></h1>
        
    <!--1º Forma de usar ngBind-->
       <h1 ng-bind="valor1+valor2"></h1>
        
    <!--2º Forma de usar ngBind-->
        <h1>{{valor1 + valor2}}</h1>
         
        {{pessoa.nome}}
        
        
        <h1>Welecome: {{pessoa.nome}} </h1>
        
        <input type="text" ng-model=pessoa.nome />
        <input type="number" ng-model=valor1 />
        <input type="number" ng-model=valor2 />
    </body>
</html>